<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>


    <!-- adding bootStrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- adding font-awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- adding css -->
    <link rel="stylesheet" type="text/css" href="/css/todo.css">
</head>

<body>
    <div class="container shadow w-50 mt-3 rounded">
        <div class="row text-center py-3">
            <h3>To-Do App</h3>
        </div>
        <form name="newForm" id="newForm" action="/add" method="post">
            <div class="row ">
                <div class="">
                    <label for="desc" class="d-block">Description: </label>
                    <input type="text" class="w-100 p-1" name="desc" id="desc" placeholder="What do you need to do?">
                </div>
            </div>
            <div class="row py-3">
                <div class="col-6 ">
                    <div>
                        <label for="cate" class="d-block"> Category: </label>
                        <select name="cate" id="cate" class="w-100 p-1">
                            <option value="Work">Work</option>
                            <option value="Home">Home</option>
                            <option value="CN">CN</option>
                            <option value="other">other</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 ">
                    <div>
                        <label for="date" class="d-block">Due date: </label>
                        <input type="date" name="date" class="w-100 p-1" id="date">
                    </div>
                </div>
            </div>

            <div class="row justify-content-around py-3">
                <a class="col-6" style="text-align: center;">
                    <button type="submit" class="btn btn-outline-success">
                        Add
                    </button>
                </a>
            </div>
        </form>
        <% for(let task of todoList){ %>
            <div class="my-3 list rounded">
                <div class="row">
                    <div class="col-1 mt-2 icon" style="text-align: center;">
                        <a href="/delete/?id=<%= task._id %> ">
                            <i class="fas fa-regular fa-circle-xmark"></i>
                        </a>
                    </div>
                    <div class="col-9">
                        <div>
                            <%= task.desc %>
                        </div>
                            <div class="date">
                                <%= task.date.toLocaleDateString("en-US") %>
                            </div>
                    </div>
                    <div class="col-2 mt-2" style="text-align: center;">
                        <div class="px-1">

                            <div class="border rounded">
                                <%= task.cate %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

    </div>

    <script src="/js/todo.js"></script>
</body>

</html>