body{
    margin: 0px;
    /* text-align: center; */
    background-color: blueviolet;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgb(54, 42, 129);
    min-width: 360px;
    box-shadow: 2px, 2px, 2px, 2px;
    padding-bottom: 2%;
}
input, select{
    background-color: rgba(255, 255, 255, 0.063);
    border: none;
    border-radius: 5%;
    color: whitesmoke;
}

option{
    color: midnightblue;
}

.row{
    margin-bottom: 2%;
}
label{
    color: rgba(245, 245, 245, 0.78);
    font-size: 0.8rem;
    font-weight: 600;
}
.list{
    background-color: darkslateblue;
       border-radius: 10px;
}

i{
    height: 20px;
    width: 20px;
    color: white;
}


.date{
    margin-top: 1%;
color: aliceblue;
font-size: 0.7rem;
}
.icon{
    padding-right:0px ;
}